@import url("https://db.onlinewebfonts.com/c/c891e94039740e4a24a9f53324fd91be?family=NHaasGroteskDSPro-65Md");

:root {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #000000;
  background-color: #222222;
  font-family: "NHaasGroteskDSPro-65Md" !important;
}

#carousel {
  max-height: 500px;
}